footer
    .b-header.b-header--black
        .container
            .b-header__wrap
                a(href='').b-header__logo
                    .b-header__logo-symol
                    .b-header__logo-text
                nav.b-header__menu
                    ul
                        li
                            a(href='') Сезон 2019 - 2020
                        li
                            a(href='') Предыдущие сезоны
                        li
                            a(href='') Арены
                        li
                            a(href='') Новости
                        li
                            a(href='') Контакты


    .b-footer
        .container
            .b-footer__wrap
                .b-footer__desc На сайте присутсвует контент со стороних рессурсов, в соответсвие с статьей 1274 Гражданского кодекса РФ. Свободное использование произведения в информационных, научных, учебных или культурных ёe целях.
                .b-footer__social
                    .b-social
                        a(href='' target='_blank').b-social__link.b-social__link--vk
                        a(href='' target='_blank').b-social__link.b-social__link--fb
                        a(href='' target='_blank').b-social__link.b-social__link--yt
                        a(href='' target='_blank').b-social__link.b-social__link--insta
                .b-footer__copy 2019 © Hockey22
                .b-footer__design Design -
                    = ' '
                    a(href='' target='_blank') Mahaev Nikita
