header.b-header
    .container
        .b-header__mobile-bg
        .b-header__wrap
            .b-header__circle-btn
            button.b-header__btn-menu.js-mobile-menu
                //span.top-line
                //span.mid-line
                //span.bot-line
            a(href='').b-header__logo
                .b-header__logo-symol
                .b-header__logo-text
            nav.b-header__menu
                ul
                    li
                        a(href='').active Сезон 2019 - 2020
                    li
                        a(href='') Предыдущие сезоны
                    li
                        a(href='') Арены
                    li
                        a(href='') Новости
                    li
                        a(href='') Контакты
