.b-ads {
  border-top: 1px solid $very-light-blue;
  max-height: 430px;
}

.b-ads__item {
  border-top: 1px solid $very-light-blue;
  padding-top: 19px;
  margin-right: 20px;

  time {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    @include bp($bp-640) {
      margin-bottom: 4px;
    }
  }
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;

    @include bp($bp-640) {
      font-size: 17px;
      line-height: 1.41;
      margin-bottom: 9px;
    }
  }

  a {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: $cornflower-blue;
  }

  &:first-child {
    margin-top: -1px;
  }

  &:not(:first-child) {
    margin-top: 19px;
  }
}

.b-ads__item--mark {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: 30px;
    @include svg-ads-bookmark;
  }
}
