.b-arenas {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 54px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 0;
    margin-top: 0;
  }

  .swiper-container {
    width: 100%;
    margin: 0 70px;

    @include bp($bp-ipad-1024) {
      margin: 0;
    }
  }

  .swiper-wrapper {
    @include bp($bp-ipad-1024) {
      height: auto;
      flex-direction: column;
    }
  }

  .swiper-slide {
    @include bp($bp-ipad-1024) {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  .custom-button-slider {
    border-color: $cornflower-blue;

    @include bp($bp-ipad-1024) {
      display: none;
    }

    &:after {
      @include svg-arrow-left-blue-slider;
    }
  }

  .custom-button-slider--prev {
    left: 0;
  }

  .custom-button-slider--next {
    right: 0;
  }

  .custom-pagination-slider {
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.b-arenas__item {
  height: 500px;
  border-radius: 10px;
  border: solid 1px $very-light-blue;
  padding: 19px;

  @include bp($bp-ipad-1024) {
    height: auto;
    display: flex;
  }

  @include bp($bp-640) {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 19px;
    border-radius: 10px;

    @include bp($bp-ipad-1024) {
      width: calc(100% - 280px - 30px);
      margin-bottom: 0;
    }

    @include bp($bp-640) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.b-arenas__wrap-info {
  @include bp($bp-ipad-1024) {
    padding-left: 29px;
  }
  @include bp($bp-640) {
    padding-left: 0;
  }
}

.b-arenas__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;

  @include bp($bp-640) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.b-arenas__address {
  margin-bottom: 14px;
  @include bp($bp-640) {
    margin-bottom: 6px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #888888;
    margin: 0;
  }
}

.b-arenas__link {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: $cornflower-blue;
  border-bottom: 1px dashed $cornflower-blue;
}
