.b-arenas {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 54px;

  .swiper-container {
    width: 100%;
    margin: 0 70px;
  }

  .custom-button-slider {
    border-color: $cornflower-blue;

    &:after {
      @include svg-arrow-left-blue-slider;
    }
  }

  .custom-button-slider--prev {
    left: 0;
  }

  .custom-button-slider--next {
    right: 0;
  }

  .custom-pagination-slider {
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.b-arenas__item {
  height: 500px;
  border-radius: 10px;
  border: solid 1px $very-light-blue;
  padding: 19px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 19px;
    border-radius: 10px;
  }
}

.b-arenas__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
}

.b-arenas__address {
  margin-bottom: 14px;
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #888888;
    margin: 0;
  }
}

.b-arenas__link {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: $cornflower-blue;
  border-bottom: 1px dashed $cornflower-blue;
}
