.b-breadcrumbs {
  display: flex;
  margin-bottom: 20px;
}

.b-breadcrumbs__item {
  display: flex;
  align-self: center;
  font-size: 12px;
  font-weight: 300;
  color: $black;
  text-align: left;

  &:not(:first-child) {
    margin-left: 6px;
  }

  &:after {
    content: '/';
    margin-left: 6px;
  }

  &:last-child {
    &:after {
      content: '';
    }
  }

  a {
    text-decoration: underline;
  }
}
