.b-calendar {
  padding: 20px 20px 0;
  background-color: $white;
  border-radius: 10px;

  @include bp($bp-1240) {
    padding-bottom: 20px;
  }
}

.b-calendar__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 19px;
}

.b-calendar__control {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 19px;

  @include bp($bp-1240)  {
    margin-bottom: 30px;
  }

  @include bp($bp-640) {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.b-calendar__selectbox {
  width: 270px;
  margin-right: auto;

  @include bp($bp-1240)  {
    width: 185px;
  }

  @include bp($bp-640) {
    width: 100%;
  }
}

.b-calendar__current-title-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 300;
  line-height: 1;

  @include bp($bp-1240) {
    display: none;
  }
}

.b-calendar__current-title-date--mobile {
  display: none;

  @include bp($bp-1240) {
    display: block;
    font-size: 18px;
  }

  @include bp($bp-640) {
    font-size: 16px;
    top: 78%;
  }
}

.b-calendar__tabs {
  margin-left: auto;

  @include bp($bp-1240) {
    display: none;
  }

  .tab__item {
    width: 135px;
  }
}

.b-calendar__arrows {
  display: flex;
  margin-left: 40px;

  @include bp($bp-640) {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
    margin-top: 12px;

    .b-calendar__arrows-item {
      border-color: transparent;
    }
  }
}

.b-calendar__arrows-item {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: solid 2px $cornflower-blue;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    display: block;
    @include svg-arrow-left-blue-slider;
  }
}

.b-calendar__arrows-item--prev {

}

.b-calendar__arrows-item--next {
  margin-left: 10px;

  &:after {
    transform: rotate(180deg);
  }
}

.b-calendar__container {

}

.b-calendar__month {

}

.b-calendar__table {
  position: relative;
}

.b-calendar__table-wrap {

}

.b-calendar__days-names {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 8px 0 3px;

  @include bp($bp-1240) {
    display: none;
  }
}

.b-calendar__day-name {
  text-align: center;
  flex: 1;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}

.b-calendar__cells {
  display: none;
  flex-wrap: wrap;

  &.is-active {
    display: flex;

    @include bp($bp-1240) {
      display: none;
    }
  }
}

.b-calendar__cell {
  width: 14.28571%;
  position: relative;
  height: 150px;
  padding: 9px 10px 0;
  border-top: 1px solid $very-light-blue;
  text-align: center;
}

.b-calendar__cell-number {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 5px;
  text-align: left;

  @include bp($bp-1240) {
    margin-bottom: 10px;
  }

  @include bp($bp-640) {
    padding-left: 20px;
  }
}

.b-calendar__strips {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 100%;

  @include bp($bp-1240) {
    display: none;
  }
}

.b-calendar__strip {
  width: 14.28571%;
  height: 100%;
  background-color: #edf3ff;
}

.b-calendar__cell--current {
  background-color: $cornflower-blue;

  .b-calendar__cell-number {
    color: $white;
  }

  .b-calendar__cell-show {
    color: $white;
    border-color: $white;
  }
}

.b-calendar__cell-inner {
  .games {
    position: relative;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  }

  .games--payload {
    padding-bottom: 19px;

    & + .b-calendar__cell-show {
      margin-top: 12px;
    }
  }

  .games__text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 0;
  }

  .games__teams {
    margin-top: 0;

    & + .games__text {
      font-size: 12px;
      line-height: 14px;
    }

    & > span {
      margin: 0 4px;
    }
  }

  .games__img-box {
    width: 24px;
    height: 24px;
  }

  .games__teams-item  {
    span {
      font-size: 10px;
      max-width: 40px;
    }
  }

  .games__payload {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: -10px;
    display: flex;
    justify-content: center;
  }

  .games__account {
    min-width: 44px;
    padding: 0 10px;
    height: 22px;
    border-radius: 23px;
    background-color: $cornflower-blue;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: $white;
    text-align: center;
    border: 1px solid $white;
  }

  .games__ico {
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background-color: $cornflower-blue;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
  }

  .games__ico--video {
    &:after {
      content: '';
      display: block;
      @include svg-i-play;
    }
  }

  .games__ico--docs {
    &:after {
      content: '';
      display: block;
      @include svg-i-docs;
    }
  }
}

.b-calendar__cell-scroll {
  @include bp($bp-640) {
    overflow-x: auto;
    padding-left: 20px;
  }
}

.b-calendar__cell-show {
  margin-top: 6px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: $cornflower-blue;
  border-bottom: 1px dashed $cornflower-blue;
  cursor: pointer;
}
.b-calendar__cell-show--dis {
  opacity: 0.4;
  pointer-events: none;
}

.b-calendar__columns {
  display: none;

  @include bp($bp-1240) {
    display: flex;
    flex-wrap: wrap;
  }

  @include bp($bp-640) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  &.is-active {
    display: flex;
  }
}

.b-calendar__column {
  position: relative;
  width: 14.28571%;
  height: 100%;
  min-height: 750px;
  padding: 10px;

  @include bp($bp-1240) {
    width: 100%;
    min-height: 150px;
    padding-left: 20px;

    &:nth-child(odd) {
      background-color: #edf3ff;
    }
  }

  @include bp($bp-640) {
    padding-right: 0;
    padding-left: 0;
  }

  .b-calendar__cell-inner {
    display: flex;
    flex-wrap: wrap;

    @include bp($bp-1240) {
      flex-wrap: nowrap;
    }
  }

  .games {
    margin-bottom: 10px;

    @include bp($bp-1240) {
      width: 160px;
      margin-bottom: 0;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  .games--payload {
    margin-bottom: 17px;
  }

  .b-calendar__cell-day {
    display: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    @include bp($bp-1240) {
      display: block;
    }
  }

  .games--default {
    width: 100px;
    border-color: $cornflower-blue;
    background-color: transparent;
    box-shadow: none;

    span {
      color: $cornflower-blue;
    }
  }
}

.b-calendar__column--current {
  background-color: $cornflower-blue!important;

  &:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../images/calendar-bg-week.png");

    @include bp($bp-1240) {
      display: none;
    }
  }

  .b-calendar__cell-number {
    color: $white;
  }

  .b-calendar__cell-day {
    color: $white;
  }
}

.b-calendar__more-games {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 54px);
  background-color: $white;
  z-index: 50;
  border-radius: 10px;
  padding: 0 20px;
  transition: .3s ease-in-out all;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.b-calendar__more-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.b-calendar__more-back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
    font-size: 14px;
    line-height: 1;
    color: $cornflower-blue;
  }
}

.b-calendar__more-date {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
}

.b-calendar__more-day {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.b-calendar__more-list {
  position: relative;
  padding-top: 20px;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 40px);
    top: 0;
    left: -20px;
    height: 1px;
    background-color: $very-light-blue;
    z-index: 50;
  }

  .b-calendar__cell-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    .games {
      width: 160px;
      margin: 0 10px 30px;
    }
  }
}
