.b-gallery-aside {
  display: flex;
}

.b-gallery-aside__item {
  position: relative;
}

.b-gallery-aside__text {
  position: absolute;
}

.b-gallery-aside__year {

}

.b-gallery-aside__title {

}
