.b-gallery-aside {
  width: 100%;
  position: relative;

  @include bp($bp-ipad-768) {
    width: calc(100% + 40px);
    margin-left: -20px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 51px;
      height: 319px;
      background-image: linear-gradient(to left, $white, rgba(255, 255, 255, 0));
    }
  }
}

.b-gallery-aside__scroll {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: -10px 0;
  margin-left: -10px;

  @include bp($bp-ipad-768) {
    width: 100%;
    display: block;
    white-space: nowrap;
    font-size: 0;
    margin: 0;
    overflow: auto;
    padding: 0 10px;
    -webkit-overflow-scrolling:touch;
  }
}

.b-gallery-aside__item {
  position: relative;
  width: calc(50% - 20px);
  margin: 10px;
  border-radius: 15px;

  @include bp($bp-ipad-1024) {
    width: calc(100%/4 - 20px);
  }

  @include bp($bp-ipad-768) {
    width: 180px;
    display: inline-block;
    margin-top: 0;
  }

  &:hover {
    .b-gallery-aside__text {
      opacity: 1;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
}

.b-gallery-aside__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 19px;
  opacity: 0;
  transition: .3s ease-in-out all;

  @include bp($bp-ipad-1024) {
    position: static;
    background-color: transparent;
    opacity: 1;
    height: auto;
    padding: 0;
    border-radius: 0;
    margin-top: 9px;
  }
}

.b-gallery-aside__year {
  font-size: 12px;
  font-weight: 300;
  color: $white;
  margin-bottom: auto;
  @include bp($bp-ipad-1024) {
    color: $black;
  }
}

.b-gallery-aside__title {
    margin-top: auto;

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: $white;
    margin-bottom: 10px;
    white-space: normal;
    @include bp($bp-ipad-1024) {
      color: $black;
    }
  }
  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    color: $white;
    @include bp($bp-ipad-1024) {
      color: $black;
    }
  }
}
