.b-grid {

}

.b-grid__tab {
  margin-bottom: 10px;

  @include bp($bp-min-767) {
    display: none;
  }

  .tab {
    width: 100%;
  }

  .tab__wrap {
    width: 100%;
  }

  .tab__item {
    flex: 1;
    margin-left: -2px;
  }
}

.b-grid__content {
  display: flex;
}

.b-grid__round {
  display: none;
  width: 100%;

  @include bp($bp-min-767) {
    width: auto;
    padding-right: 10px;
  }

  &.is-active {
    display: block;
  }

  @include bp($bp-min-767) {
    display: block;
  }

  &:not(:first-child) {
    @include bp($bp-min-767) {
      padding-left: 10px;
    }


    .b-grid__team {
      &:before {
        content: '';
        position: absolute;
        left: -11px;
        display: none;
        width: 10px;
        height: 1px;
        background-color: $very-light-blue;

        @include bp($bp-min-767) {
          display: block;
        }
      }
    }
  }
}

.b-grid__group {
  &:not(:first-child) {

    @include bp($bp-min-767) {
      padding-top: 30px;
    }
  }
}

.b-grid__matchup {
  position: relative;
  width: 100%;
  margin-top: 10px;

  @include bp($bp-min-767) {
    width: 150px;
    margin-top: 0;
  }

  @include bp($bp-min-992) {
    width: 160px;
  }

  &:nth-child(1) {
    @include bp($bp-min-767) {
      padding-bottom: 15px;
    }

    &:after {
      bottom: -18px;
    }
  }
  &:nth-child(2) {
    @include bp($bp-min-767) {
      padding-top: 15px;
    }

    &:after {
      top: -18px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: -11px;
    display: none;
    width: 1px;
    height: 100%;
    background-color: $very-light-blue;

    @include bp($bp-min-767) {
      display: block;
    }
  }
}

.b-grid__team {
  position: relative;
  width: calc(100% - 19px);
  display: flex;
  align-items: center;
  height: 24px;
  padding-left: 19px;
  border-radius: 5px 5px 0 0;
  background-color: $white;
  transition: .3s ease-in-out all;
  border-top: solid 1px $very-light-blue;
  border-left: solid 1px $very-light-blue;
  border-right: solid 1px $very-light-blue;
  padding-top: 7px;
  box-sizing: content-box;

  @include bp($bp-min-767) {
    width: 100%;
    padding-top: 0;
    padding-left: 9px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 1px $very-light-blue;
    height: 36px;
    box-sizing: border-box;
  }

  &:hover {
    background-color: $pale-grey;
  }

  &:last-child {
    border-top: none;
    border-bottom: solid 1px $very-light-blue;
    border-radius: 0 0 5px 5px;
    padding-bottom: 7px;
    padding-top: 0;

    @include bp($bp-min-767) {
      margin-top: 5px;
      border-radius: 5px;
      border: solid 1px $very-light-blue;
      padding-bottom: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: -11px;
    display: none;
    width: 10px;
    height: 1px;
    background-color: $very-light-blue;

    @include bp($bp-min-767) {
      display: block;
    }
  }
}

.b-grid__team-number {
  font-size: 12px;
  font-weight: 300;

  &:last-child {
    margin-left: auto;
    margin-right: 14px;
  }
}

.b-grid__team-name {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: $cornflower-blue;
  cursor: pointer;
}

.b-grid__team-ico {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
  }
}


.b-grid__round--2 {
  @include bp($bp-min-767) {
    margin-top: 54px;
  }

  .b-grid__matchup {
    &:nth-child(1) {
      @include bp($bp-min-767) {
        padding-bottom: 69px;
      }
    }

    &:nth-child(2) {
      @include bp($bp-min-767) {
        padding-top: 69px;
      }
    }
  }

  .b-grid__group {
    &:not(:first-child) {
      @include bp($bp-min-767) {
        padding-top: 138px;
      }
    }
  }
}

.b-grid__round--3 {

  @include bp($bp-min-767) {
    margin-top: 158px;
  }
  .b-grid__matchup {

    &:nth-child(1) {

      @include bp($bp-min-767) {
        padding-bottom: 179px;
      }
    }

    &:nth-child(2) {

      @include bp($bp-min-767) {
        padding-top: 178px;
      }
    }
  }
}

.b-grid__round--last {

  @include bp($bp-min-767) {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  .b-grid__matchup {
    &:after {
      display: none;
    }
  }

  .b-grid__team {
    &:after {
      display: none;
    }
  }
}

.b-grid__team-number--mobile {
  position: absolute;
  top: 10px;
  right: 19px;
  z-index: 10;
  @include bp($bp-min-767) {
    display: none;
  }
}

.b-grid__team-number--desktop {
  display: none;
  @include bp($bp-min-767) {
    display: block;
  }
}
