.b-list-player {

}

.b-list-player__control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @include bp($bp-480) {
    flex-wrap: wrap;
  }

  select {
    width: 150px;

    @include bp($bp-1240) {
      width: 124px;
    }

    @include bp($bp-480) {
      width: 100%;
    }
  }

  .selectbox {
    width: 150px;

    @include bp($bp-1240) {
      width: 124px;
    }

    @include bp($bp-480) {
      width: 100%;
    }
  }

  .tab__item {
    @include bp($bp-1280) {
      padding: 0 16px;
    }
    @include bp($bp-1240) {
      padding: 0 12px;
    }

    @include bp($bp-ipad-1024) {
      padding: 0 14px;
    }

    @include bp($bp-480) {
      flex-grow: 1;
    }
  }

  .tab {
    @include bp($bp-480) {
      margin-top: 10px;
      width: 100%;
    }
  }

  .tab__wrap {
    @include bp($bp-480) {
      width: 100%;
    }
  }
}

.b-list-player__list {
  display: none;

  &.is-active {
    display: block;
  }
  .player {
    &:not(:first-child) {
      margin-top: 14px;
      padding-top: 13px;
      border-top: 1px solid $very-light-blue;
    }
  }
}
