.b-main-box {
  &:not(:first-child) {
    margin-top: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: $black;
    margin-bottom: 20px;
  }
}

.b-main-box__wrapper {
  position: relative;
  border-radius: 15px;
  background-color: $white;
  padding: 20px;

  @include bp($bp-640) {
    border-radius: 25px 25px 0 0;
  }
}

.b-main-box__wrap {
  .b-main-box__list {
    display: none;

    &:not(:first-child) {
      margin-top: 20px;

      @include bp($bp-ipad-1024) {
        margin-top: 34px;
      }
    }

    &.is-active {
      display: block;
    }
  }
}

.b-main-box__tab-wrap {
  .b-main-box__wrap {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.b-main-box__control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @include bp($bp-540) {
    flex-direction: column;

    .tab__title {
      display: none;
    }

    .tab {
      &:nth-child(1) {
        margin-bottom: 10px;
      }
    }

    .tab__wrap {
      width: 100%;
    }

    .tab__item {
      flex-grow: 1;
    }
  }

  .tab__item {
    @include bp($bp-ipad-768) {
      padding: 0 14px;
    }
  }
}

.b-main-box__btn {
  margin-top: 20px;
  text-align: center;
}

.b-main-box__desc {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
}

.b-main-box__list {
  .b-table {
    &:not(:first-child) {
      margin-top: 20px;

      @include bp($bp-ipad-1024) {
        margin-top: 34px;
      }
    }
  }
}

.b-main-box__select {
  width: 270px;

  @include bp($bp-540) {
    width: 100%;
    margin-bottom: 10px;
  }
}


.sort-header {
  background-repeat: no-repeat !important;
  background-position: center -5px !important;
}
.sort-up {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABbSURBVCjPY/jPgB8yDDkFmyVWv14kh1PBeoll31f/n/ytUw6rgtUSi76s+L/x/8z/Vd8KFbEomPt16f/1/1f+X/S/7X/qeSwK+v63/K/6X/g/83/S/5hvQywkAdMGCdCoabZeAAAAAElFTkSuQmCC') !important;
}
.sort-down {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABbSURBVCjPY/jPgB8yDCkFB/7v+r/5/+r/i/7P+N/3DYuC7V93/d//fydQ0Zz/9eexKFgtsejLiv8b/8/8X/WtUBGrGyZLdH6f8r/sW64cTkdWSRS+zpQbgiEJAI4UCqdRg1A6AAAAAElFTkSuQmCC') !important;
}
