.b-popup {
 display: none;
}

.b-popup__close {
  position: absolute;
  top: 16px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  &:after {
    content: '';
    display: block;
    @include svg-close-popup;
  }
}

.custom-popup {
  &.tingle-modal {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: none;
  }

  .tingle-modal-box {
    width: 100%;
  }

  .tingle-modal-box__content {
    padding: 0;
  }

  .tingle-modal__closeIcon {
    display: none;
  }

  .tingle-modal__closeLabel {
    display: none;
  }
}

.custom-popup--sm {
  .tingle-modal-box {
    max-width: 680px;
  }
}

.custom-popup--lg {
  @include bp($bp-1240) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include bp($bp-640) {


    &.tingle-modal--overflow {
      padding: 0;
    }
  }

  .tingle-modal-box {
    max-width: 1300px;
    margin-bottom: 40px;
  }
}
