.b-table {

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    @include bp($bp-720) {
      display: none;
    }

    th {
      span {
        position: relative;
      }
    }
    th[role=columnheader]:not(.no-sort) {
      cursor: pointer;
    }

    th[role=columnheader]:not(.no-sort) {
      span {
        &:before {
          content: '';
          position: absolute;
          bottom: 3px;
          right: -11px;
          border-width: 4px 4px 0;
          border-style: solid;
          border-color: $cornflower-blue transparent;
          -ms-user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          transition: .3s ease-in-out all;
        }
        &:after {
          content: '';
          position: absolute;
          top: 3px;
          right: -11px;
          border-width: 0 4px 4px;
          border-style: solid;
          border-color: $cornflower-blue transparent;
          -ms-user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          transition: .3s ease-in-out all;
        }
      }
    }

    th[aria-sort]:not(.no-sort) {
      span {
        &:before {
          opacity: 0.4;
        }
        &:after {
          opacity: 0.4;
        }
      }
    }

    th[aria-sort=ascending]:not(.no-sort) {
      span {
        &:before {
          opacity: 1;
        }
      }
    }
    th[aria-sort=descending]:not(.no-sort) {
      span {
        &:after {
          opacity: 1;
        }
      }
    }

  }

  thead {
    tr {
      border-top: none;
    }
  }

  th {
    font-size: 14px;
    font-weight: 500;
    color: $cornflower-blue;
    text-align: left;
    width: 70px;

    &:nth-child(1) {
      width: 56px;
      text-align: center;
    }

    &:nth-child(2) {
      width: 288px;

      @include bp($bp-ipad-1024) {
        width: 254px;
      }
    }

    &:last-child {
      width: 46px;
    }
  }

  tr {
    border-top: 1px solid $very-light-blue;
  }

  td {
    padding: 4px 0;
    font-size: 14px;
    font-weight: 300;
    width: 70px;

    &:nth-child(1) {
      text-align: center;
    }

    &:nth-child(2) {
      display: flex;
      align-items: center;
      width: 288px;

      @include bp($bp-ipad-1024) {
        width: 254px;
      }
    }

    &:last-child {
      width: 46px;
    }

    p {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}

.b-table__thead {
  display: none;
  @include bp($bp-720) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.b-table__th {
  font-size: 14px;
  font-weight: 500;
  color: $cornflower-blue;
}

.b-table__title-time {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  text-align: center;
  margin-bottom: 20px;

  @include bp($bp-ipad-1024) {
    margin-bottom: 10px;
  }
}

.b-table__item {
  border-top: 1px solid $very-light-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: .3s ease-in-out all;

  @include bp($bp-720) {
    flex-wrap: wrap;
    padding-bottom: 10px;
    &:last-child {
      border-bottom: 1px solid $very-light-blue;
    }
  }

  &:hover {
    background-color: $pale-grey;

    @include bp($bp-720) {
      background-color: transparent;
    }
  }

  & > div {
    padding: 4px 0;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0px;
    font-size: 14px;
    font-weight: 300;
    color: $black;
    text-align: center;

    @include bp($bp-720) {
      padding: 0;
      flex-basis: auto;
      line-height: 1;
      flex-grow: 0;
    }

    @include bp($bp-480) {
      color: $brown-grey;
      font-size: 12px;
    }

    &:nth-child(1) {
      @include bp($bp-720) {
        width: 100%;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      @include bp($bp-480) {
        font-size: 14px;
        color: $black;
      }
    }

    &:nth-child(2) {
      display: flex;
      align-items: center;
      min-width: 260px;

      @include bp($bp-720) {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
      }

      @include bp($bp-480) {
        margin-bottom: 6px;
        font-size: 14px;
        color: $black;
      }
    }

    p {
      display: flex;
      align-items: center;
      margin: 0;
      white-space: nowrap;

      span {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 5px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.b-table__item-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    display: block;
  }
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.b-table__item-icon--video {
  &:after {
    @include svg-i-play;
  }
}

.b-table__item-icon--docs {
  &:after {
    @include svg-i-docs;
  }
}

.b-table__label {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: $white;
  padding: 0 10px;
  text-align: center;
  border-radius: 23px;
  margin-right: 20px;
}

.b-table__label--complete {
  background-color: $cornflower-blue;
}

.b-table__label--soon {
  background-color: $butterscotch;
}

.b-table--card {
  .b-table__title-time {
    @include bp($bp-720) {
      margin-bottom: 18px;
    }
  }
  .b-table__item {
    display: none;

    @include bp($bp-720) {
      padding-top: 10px;
      display: flex;

      & > div {
        &:nth-child(1) {
          width: 25px;
          margin-top: 0;
          margin-bottom: 5px;
        }

        &:nth-child(2) {
          width: calc(100% - 25px);
          padding-left: 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
