.home-page {
  aside {
    padding: 0;
    @include bp($bp-ipad-1024) {
      display: flex;
      flex-wrap: wrap;

      .b-main-box {
        margin-top: 0;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.home-page__header {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  overflow: hidden;

  @include bp($bp-640) {
    max-height: 700px;
    min-height: 620px;
  }
}

.home-page__fullpage {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $cornflower-blue;

  @include bp($bp-640) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 153px;
      left: 0;
      width: 100%;
      height: 257px;
      background-image: linear-gradient(to bottom, rgba(116, 163, 233, 0), $cornflower-blue);
    }
  }
}

.home-page__splinters {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 648px;
  background-size: cover;
  background-image: url("../images/fullpage/splinters.png");

  @include bp($bp-640) {
    display: none;
  }
}

.home-page__ice-min {
  opacity: 0.35;
  position: absolute;
  top: -100px;
  right: -100px;
  width: 467px;
  height: 444px;
  background-size: cover;
  background-image: url("../images/fullpage/ice-min.png");

  @include bp($bp-ipad-1024) {
    display: none;
  }
}

.home-page__ice {
  position: absolute;
  top: 90px;
  left: -400px;
  right: 0;
  bottom: 0;
  width: 1200px;
  height: 862px;
  margin: auto;
  background-size: cover;
  background-image: url("../images/fullpage/ice_1.png");

  @include bp($bp-ipad-1024) {
    background-position: center;
  }

  @include bp($bp-640) {
    top: 300px;
  }

  @include bp($bp-375) {
    top: 350px;
  }
}

.home-page__player {
  position: absolute;
  width: 1057px;
  height: 682px;
  background-image: url("../images/fullpage/player.png");
  bottom: 0;
  left: 0;
  right: -210px;
  margin: auto;

  @include bp($bp-640) {
    background-size: cover;
    width: 100%;
    right: 0;
    height: 358px;
    bottom: 144px;
  }
}

.home-page__puck {
  position: absolute;
  top: 22%;
  right: -38%;
  left: 0;
  margin:  auto;
  width: 151px;
  height: 113px;
  background-image: url("../images/fullpage/puck.png");

  @include bp($bp-ipad-1024) {
    right: -68%;
  }

  @include bp($bp-640) {
    width: 75px;
    height: 56px;
    background-size: cover;
  }
}

.home-page__fullpage-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;

  @include bp($bp-ipad-1024) {
    bottom: 40px;
  }

  @include bp($bp-640) {
    bottom: 50px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.home-page__block {
  @include bp($bp-640) {
    position: relative;
    width: 100%;
    padding: 0 20px;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 154px;
      position: absolute;
      bottom: -50px;
      left: 0;
      background-color: $cornflower-blue;
      z-index: 30;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: $white;
    margin-bottom: 38px;

    @include bp($bp-ipad-1024) {
      margin-bottom: 18px;
    }
  }
}

.home-page__block--slider {
  width: 260px;

  @include bp($bp-720) {
    display: none;
  }

  h2 {
    margin-bottom: 18px;
  }
}

.home-page__games {
  position: relative;
  display: flex;
  z-index: 40;

  .games {
    &:not(:first-child) {
      margin-left: 20px;

      @include bp($bp-414) {
        margin-left: 10px;
      }
    }

    &:nth-child(3) {
      @include bp($bp-1240) {
        display: none;
      }
    }

    &:nth-child(2) {
      @include bp($bp-ipad-768) {
        display: none;
      }
    }
  }

  .custom-button-slider--prev {
    right: 0;
    left: auto;
    top: 0;
    transform: rotate(90deg);
  }

  .custom-button-slider--next {
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
    transform: rotate(90deg);
  }

}

.home-page__content {
  position: relative;
  margin-top: 40px;
  z-index: 40;

  @include bp($bp-640) {
    margin-top: -30px;
  }
  main {

  }
  aside {

  }
}
