* {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: $black;
  margin-bottom: 30px;


  @include bp($bp-640) {
    margin-bottom: 20px;;
  }
}
h3 {
  font-family: $Ubuntu;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: $black;
}
