.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  color: $white;
  border-radius: 23px;
  border-width: 2px;
  border-style: solid;
  height: 40px;
  padding: 0 22px;
  cursor: pointer;
  transition: .3s ease-in-out all;

  &:focus {
    outline: none;
  }
}

.btn--yellow {
  border-color: $butterscotch;
  background-color: $butterscotch;

  &:hover {
    color: $butterscotch;
    background-color: $white;
  }
}

.btn--blue {
  border-color: $cornflower-blue;
  background-color: $cornflower-blue;
}

.btn--border {
  &.btn--blue {
    color: $cornflower-blue;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $cornflower-blue;
    }
  }
}
