.player {
  display: flex;
  align-items: center;
}

.player__avatar {
  width: 42px;
  height: 42px;
  position: relative;
  flex-shrink: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.player__name {
  flex-grow: 1;
  padding-left: 20px;

  p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 20px;
  }

  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
  }
}

.player__count {
  font-size: 14px;
  font-weight: 300;
}

.player__phone {
  @include bp($bp-ipad-1024) {
    margin-right: 50px;
  }

  @include bp($bp-640) {
    margin-right: 0;
  }

  @include bp($bp-360) {
    position: absolute;
    bottom: 0;
    left: 61px;
  }


  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    color: #9d9d9d;
    margin-bottom: 9px;
    @include bp($bp-360) {
      display: none;
    }
  }

  a {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
  }
}
