.custom-button-slider {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: solid 2px $white;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-top: 0;

  &:after {
    content: '';
    display: inline-block;
    @include svg-arrow-left-back;
  }
}

.custom-button-slider--prev {
  &:after {

  }
}

.custom-button-slider--next {
  &:after {
    transform: rotate(180deg);
  }
}

.custom-pagination-slider {


  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid $cornflower-blue;
    background-color: $white;
    opacity: 1;
    margin: 0 5px;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background-color: $cornflower-blue;
  }
}
