mixin b-grid__matchup()
    .b-grid__matchup
        .b-grid__team-number.b-grid__team-number--mobile счет  1:8
        a(href='').b-grid__team
            .b-grid__team-number 8D
            .b-grid__team-name
                .b-grid__team-ico
                    img(src='./images/teams/team_1-sm.png' alt='')
                | Ирбис
            .b-grid__team-number.b-grid__team-number--desktop 1
        a(href='').b-grid__team
            .b-grid__team-number 8D
            .b-grid__team-name
                .b-grid__team-ico
                    img(src='./images/teams/team_2-sm.png' alt='')
                | Ястребы
            .b-grid__team-number.b-grid__team-number--desktop 1
mixin b-table--season()
    .b-table
        .b-table__title-time 11 мая, пн
        +b-table-item--season
        +b-table-item--season

mixin b-table-item--season()
    .b-table__item
        div 21:10
        div
            p.js-teams-popup
                span
                    img(src='./images/teams/team_1-lg.png' alt='')
                | Балтика -
            p.js-teams-popup
                span
                    img(src='./images/teams/team_2-lg.png' alt='')
                | Красные Крылья
        div
            .b-table__item-icons
                a(href='').b-table__item-icon.b-table__item-icon--video
                a(href='').b-table__item-icon.b-table__item-icon--docs

        div.js-statistic-popup 5 : 0
        div Завершен
mixin game-payload(isCount, isVideo, isDocs)
    .games.games--payload
        .games__wrap
            .games__text 2 сен, пн
            .games__teams
                .games__teams-item.js-teams-popup
                    .games__img-box
                        img(src='./images/teams/team_1-sm.png' alt='')
                    span Балтика
                span  -
                    = ' '
                .games__teams-item.js-teams-popup
                    .games__img-box
                        img(src='./images/teams/team_2-sm.png' alt='')
                    span Красные Крылья
            .games__text 21:20 (Группа А)
            .games__payload
                -if(isCount)
                    .games__account 2:1
                -if(isVideo)
                    .games__ico.games__ico--video
                -if(isDocs)
                    .games__ico.games__ico--docs

mixin game-count()
    .games.games--short
        .games__wrap
            .games__text 2 сен, пн
            .games__teams
                .games__teams-item.js-teams-popup
                    .games__img-box
                        img(src='./images/teams/team_1-sm.png' alt='')
                    span БАЛТ
                .games__teams-count 3:1
                .games__teams-item.js-teams-popup
                    .games__img-box
                        img(src='./images/teams/team_2-sm.png' alt='')
                    span КРАС
            .games__text 21:20 (Группа А)

mixin game()
    .games
        .games__wrap
            .games__text 2 сен, пн
            .games__teams
                .games__teams-item.js-teams-popup
                    .games__img-box
                        img(src='./images/teams/team_1-sm.png' alt='')
                    span Балтика
                span  -
                    = ' '
                .games__teams-item.js-teams-popup
                    .games__img-box
                        img(src='./images/teams/team_2-sm.png' alt='')
                    span Красные Крылья
            .games__text 21:20 (Группа А)

mixin game-default()
    .games.games--default.js-show-more-games
        .games__wrap
            span Показать
                br
                |  еще

mixin calendar-column-item(isDefault)
    .b-calendar__cell-scroll
        .b-calendar__cell-inner
            +game
            +game-payload(true, true, true)
            +game-payload(true, true)
            -if(isDefault)
                +game-default



