extends _layout-404

block title
    title 404
block content
    .error-page
        img(src='./images/404@2x.png' alt='404')
        .error-page__text
            p Страница, которую вы ищете, не существует.
            span Возможно, вы ошиблись при вводе URL-адреса, либо искомая страница была перемещена.
                = ' '
                a(href='') Вернуться на главную

