extends _layout

block title
    title Главная страница
block content
    .admin-page
        .container
            .b-game
                .b-game__box
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС

                    .b-game__control
                        button.btn.btn--blue.btn--border Добавить гол

                    .b-game__table
                        .b-game__period
                            h3 1 Период
                            .b-game__goal
                                .b-game__goal-teams Скиф ( 1 - 0 ) Прайд
                                .b-game__goal-desc Иванов Иван - гол в 22:14
                                .b-game__goal-edit
                                    span
                            .b-game__goal
                                .b-game__goal-teams Скиф ( 1 - 0 ) Прайд
                                .b-game__goal-desc Иванов Иван - гол в 22:14
                                .b-game__goal-edit
                                    span
                        .b-game__period
                            h3 2 Период
                            .b-game__goal
                                .b-game__goal-teams Скиф ( 1 - 0 ) Прайд
                                .b-game__goal-desc Иванов Иван - гол в 22:14
                                .b-game__goal-edit
                                    span

                        .b-game__btn
                            button.btn.btn--yellow Опубликовать








