extends _layout

block title
    title Главная страница
block content
    .admin-page
        .container
            .b-game-list
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0
                a(href='').b-game-list__item
                    .b-game__score
                        .b-game__score-name БАЛТ
                        .b-game__score-count
                            span 2 сен, ср
                            p 2:0
                            span счет
                        .b-game__score-name КРАС
                    .b-game-list__status
                        .b-game-list__status-item
                            span 1п
                            p 0:0
                        .b-game-list__status-item
                            span 2п
                            p 2:0
                        .b-game-list__status-item
                            span 3п
                            p 2:0
                        .b-game-list__status-item.b-game-list__status-item--dis
                            span ОТ
                            p 0:0





