extends _layout

block title
    title Главная страница
block content
    .admin-page
        .container
            .b-login
                .b-login__form
                    form.b-form
                        .b-form__fields
                            .b-form__item
                                input(type='tel' placeholder='Номер телефона')
                            .b-form__item
                                input(type='password' placeholder='Пароль')
                        .b-form__control
                            button.btn.btn--yellow Вход




