extends _layout-black-header

block title
    title Арены
block content
    .news-page
        .container
            .b-breadcrumbs
                .b-breadcrumbs__item
                    a(href='') Главная
                .b-breadcrumbs__item
                    span Арены
            h1 Арены
            .row
                main.col-lg-12
                    .b-main-box
                        .b-arenas.js-slider-arenas
                            .b-arenas__item
                                img(src='./images/arenas/arena_1@2x.jpg' alt='Динамо, ледовый дворец спорта им. Ю.П. Карандина')
                                .b-arenas__title Динамо, ледовый дворец спорта им. Ю.П. Карандина
                                .b-arenas__address
                                    p Адрес: г. Барнаул, ул. Жасминная, 3
                                    p Телефон:
                                        = ' '
                                        a(href='tel:73852253683') +7 (3852) 25‒36‒83

                                a(href='').b-arenas__link Показать на карте
                            .b-arenas__item
                                img(src='./images/arenas/arena_1@2x.jpg' alt='Динамо, ледовый дворец спорта им. Ю.П. Карандина')
                                .b-arenas__title Динамо, ледовый дворец спорта им. Ю.П. Карандина
                                .b-arenas__address
                                    p Адрес: г. Барнаул, ул. Жасминная, 3
                                    p Телефон:
                                        = ' '
                                        a(href='tel:73852253683') +7 (3852) 25‒36‒83

                                a(href='').b-arenas__link Показать на карте




