extends _layout-black-header

block title
    title Кубок города ЛХЛ 2019
block content
    .common-page
        .container
            .b-breadcrumbs
                .b-breadcrumbs__item
                    a(href='') Главная
                .b-breadcrumbs__item
                    a(href='') Предыдущие сезоны
                .b-breadcrumbs__item
                    span Кубок города ЛХЛ 2019
            h1 Кубок города ЛХЛ 2019
            .row
                main.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .b-main-box
                        .b-main-box__wrapper
                            .b-season-detail
                                .b-season-detail__aside
                                    .b-season-detail__note
                                        b Внимание!
                                        p Финальный матч кубка города состоится 11.04.2019 в 19:00 на льду "Карандин-Арены", по окночанию финального матча пройдет торжественное награждение участников Чемпионата города во всех группах
                                    .b-season-detail__btn
                                        a(href='#table-grid').btn.btn--yellow Турнирная сетка
                                        .btn.btn--blue.js-calendar-popup Календарь матчей
                                    .b-season-detail__section
                                        h2 Состав дивизионов
                                        ol
                                            li Синтез
                                            li Алтайские волки
                                            li Титан
                                            li Целинник
                                            li Свирепые ежи
                                            li Ястребы-2
                                            li Легион
                                            li Ястребы
                                            li Скиф
                                            li Балтика
                                            li Прайд
                                            li Павловск
                                            li SportLife
                                            li Неудержимые
                                        span С командами своего дивизиона играют дважды, а с соперниками из другого по одной игре.



                                    .b-season-detail__section
                                        h2 Документы
                                        ul
                                            li
                                                a(href='') Регламент чемпионата города группы "C","D" и "E" Сезон 2019 - 2020 гг.
                                            li
                                                a(href='') Форма завяки команды на Сезон 2019 - 2020 гг.
                                            li
                                                a(href='') Согласие на обработку персональных данных

                                .b-season-detail__main
                                    h2 Расписание матчей
                                    .b-season-detail__control
                                        .tab.tab--radio
                                            .tab__scroll
                                                .tab__wrap
                                                    input(id='p-1' type='radio' name='group_1' checked)
                                                    label(for='p-1').tab__item Предварительный раунд
                                                    input(id='p-2' type='radio' name='group_1')
                                                    label(for='p-2').tab__item 1/4
                                                    input(id='p-3' type='radio' name='group_1')
                                                    label(for='p-3').tab__item Полуфинал
                                                    input(id='p-4' type='radio' name='group_1')
                                                    label(for='p-4').tab__item Матч за 3-е место
                                                    input(id='p-5' type='radio' name='group_1')
                                                    label(for='p-5').tab__item Финал
                                        select.selectbox.js-choice
                                            option Предварительный раунд
                                            option 1/4
                                            option Полуфинал
                                            option Матч за 3-е место
                                            option Финал

                                    .b-season-detail__list-tables
                                        .b-season-detail__content-tables
                                            .b-season-detail__content-wrap.custom-scrollbar.js-scrollbar
                                                .b-season-detail__tables
                                                    +b-table--season
                                                    +b-table--season
                                                    +b-table--season
                                                    +b-table--season

                                                #5-9-2019.b-season-detail__tables
                                                    +b-table--season
                                                    +b-table--season
                                                    +b-table--season
                                                    +b-table--season

                                    #table-grid.b-season-detail__grid
                                        h2 Турнирная сетка
                                        .b-grid.js-tabs-container
                                            .b-grid__tab
                                                .tab
                                                    .tab__wrap.js-tabs-items
                                                        .tab__item.is-active 1/8
                                                        .tab__item 1/4
                                                        .tab__item 1/2
                                                        .tab__item Ф
                                            .b-grid__content.js-tabs-contents
                                                .b-grid__round.is-active
                                                    .b-grid__group
                                                        +b-grid__matchup
                                                        +b-grid__matchup

                                                    .b-grid__group
                                                        +b-grid__matchup
                                                        +b-grid__matchup

                                                    .b-grid__group
                                                        +b-grid__matchup
                                                        +b-grid__matchup

                                                    .b-grid__group
                                                        +b-grid__matchup
                                                        +b-grid__matchup

                                                .b-grid__round.b-grid__round--2
                                                    .b-grid__group
                                                        +b-grid__matchup
                                                        +b-grid__matchup


                                                    .b-grid__group
                                                        +b-grid__matchup
                                                        +b-grid__matchup

                                                .b-grid__round.b-grid__round--3
                                                    .b-grid__group
                                                        +b-grid__matchup
                                                        +b-grid__matchup


                                                .b-grid__round.b-grid__round--last
                                                    .b-grid__group
                                                        +b-grid__matchup

                                    h2 Турнирная таблица
                                    .b-season-detail__sort-table
                                        .b-table.b-table--card
                                            .b-table__title-time Подгруппа А
                                            .b-table__thead
                                                .b-table__th И
                                                .b-table__th В
                                                .b-table__th Н
                                                .b-table__th П
                                                .b-table__th Ш
                                                .b-table__th %
                                                .b-table__th О
                                            table.js-table-sort
                                                thead
                                                    tr
                                                        th #
                                                        th Клуб
                                                        th
                                                            span И
                                                        th
                                                            span В
                                                        th
                                                            span Н
                                                        th
                                                            span П
                                                        th
                                                            span Ш
                                                        th
                                                            span %
                                                        th
                                                            span O
                                                tbody
                                                    tr
                                                        td 1
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Астребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 2
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 25
                                                        td 67
                                                        td 87
                                                        td 13
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 1
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Встребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Оегион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 2
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Дегион (Барнаул)
                                                        td 25
                                                        td 67
                                                        td 87
                                                        td 13
                                                        td 70-42
                                                        td 8
                                                        td 30

                                            .b-table__item
                                                div №1
                                                div
                                                    p.js-teams-popup
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34
                                            .b-table__item
                                                div №2
                                                div
                                                    p.js-teams-popup
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34
                                        .b-table.b-table--card
                                            .b-table__title-time Подгруппа M
                                            .b-table__thead
                                                .b-table__th И
                                                .b-table__th В
                                                .b-table__th Н
                                                .b-table__th П
                                                .b-table__th Ш
                                                .b-table__th %
                                                .b-table__th О
                                            table.js-table-sort
                                                thead
                                                    tr
                                                        th #
                                                        th Клуб
                                                        th
                                                            span И
                                                        th
                                                            span В
                                                        th
                                                            span Н
                                                        th
                                                            span П
                                                        th
                                                            span Ш
                                                        th
                                                            span %
                                                        th
                                                            span O
                                                tbody
                                                    tr
                                                        td 1
                                                        td
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Ястребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 2
                                                        td.js-teams-popup
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 25
                                                        td 67
                                                        td 87
                                                        td 13
                                                        td 70-42
                                                        td 8
                                                        td 30

                                            .b-table__item
                                                div №1
                                                div
                                                    p.js-teams-popup
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34
                                            .b-table__item
                                                div №2
                                                div
                                                    p.js-teams-popup
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34





