extends _layout

block title
    title Главная страница
block content
    .home-page
        .home-page__header
            .home-page__fullpage
                .home-page__bg
                .home-page__ice
                .home-page__player
                .home-page__puck
            .home-page__fullpage-bottom
                .container
                    .home-page__block
                        h2 Ближайшие матчи
                        .home-page__games
                            a(href='').games
                                .games__text 2 сен, пн
                                .games__teams
                                    .games__teams-item
                                        .games__img-box
                                            img(src='./images/teams/team_1-sm.png' alt='')
                                        span Балтика
                                    span  -
                                        = ' '
                                    .games__teams-item
                                        .games__img-box
                                            img(src='./images/teams/team_2-sm.png' alt='')
                                        span Красные Крылья
                                .games__text 21:20 (Группа А)

                            a(href='').games.games--default
                                span Больше
                                    br
                                    | матчей

                    .home-page__block.home-page__block--slider
                        h2 Прошедшие матчи
                        .home-page__games
                            .swiper-container.js-game-slider
                                .swiper-wrapper
                                    // Slides
                                    .swiper-slide
                                        a(href='').games.games--short
                                            .games__text 2 сен, пн
                                            .games__teams
                                                .games__teams-item
                                                    .games__img-box
                                                        img(src='./images/teams/team_1-sm.png' alt='')
                                                    span Балтика
                                                .games__teams-count 3:1
                                                .games__teams-item
                                                    .games__img-box
                                                        img(src='./images/teams/team_2-sm.png' alt='')
                                                    span Красные Крылья
                                            .games__text 21:20 (Группа А)
                                    .swiper-slide
                                        a(href='').games.games--short
                                            .games__text 2 сен, пн
                                            .games__teams
                                                .games__teams-item
                                                    .games__img-box
                                                        img(src='./images/teams/team_1-sm.png' alt='')
                                                    span БАЛТ
                                                .games__teams-count 0:1
                                                .games__teams-item
                                                    .games__img-box
                                                        img(src='./images/teams/team_2-sm.png' alt='')
                                                    span КРАС
                                            .games__text 21:20 (Группа А)

                                .swiper-button-prev.custom-button-slider.custom-button-slider--prev.js-game-slider-prev
                                .swiper-button-next.custom-button-slider.custom-button-slider--next.js-game-slider-next



        .home-page__content
            .container
                .row
                    main.col-lg-8.col-md-8.col-sm-12.col-xs-12
                        .b-main-box.js-tabs-container
                            .b-main-box__wrapper
                                h2 Матчи
                                .b-main-box__control
                                    .tab
                                        .tab__item.is-active Ближайшие
                                        .tab__item Прошедшие
                                    .tab
                                        .tab__title Группа:
                                        .tab__wrap.js-tabs-items
                                            .tab__item.is-all.is-active Все
                                            .tab__item A
                                            .tab__item B
                                            .tab__item C
                                            .tab__item D

                                .b-main-box__wrap.js-tabs-contents
                                    .b-main-box__list.is-active
                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            a(href='').b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные Крылья
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team-default.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А

                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            a(href='').b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные Крылья
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А


                                    .b-main-box__list.is-active
                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team-default.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А

                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            a(href='').b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные Крылья
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А


                                    .b-main-box__list.is-active
                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            a(href='').b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные Крылья
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team-default.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А

                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            a(href='').b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные Крылья
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А


                                    .b-main-box__list.is-active
                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team-default.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А

                                        .b-table
                                            .b-table__title-time 2 сен, пн
                                            a(href='').b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные Крылья
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А
                                            .b-table__item
                                                div 21:10
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика -
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Красные
                                                div 1п (0:0)
                                                div 2п (0:0)
                                                div 3п (0:0)
                                                div Счет 0 : 0
                                                div Группа А



                        .b-main-box.js-tabs-container
                            .b-main-box__wrapper
                                h2 Турнирная таблица
                                .b-main-box__control
                                    .b-main-box__select
                                        select.selectbox.js-choice
                                            option 2018 - 2019
                                            option 2017 - 2019
                                            option 2018 - 2019
                                    .tab
                                        .tab__title Группа:
                                        .tab__wrap.js-tabs-items
                                            .tab__item.is-active A
                                            .tab__item B
                                            .tab__item C
                                            .tab__item D

                                .b-main-box__wrap.js-tabs-contents
                                    .b-main-box__list.is-active
                                        .b-table.b-table--card
                                            .b-table__title-time Подгруппа А
                                            .b-table__thead
                                                .b-table__th И
                                                .b-table__th В
                                                .b-table__th Н
                                                .b-table__th П
                                                .b-table__th Ш
                                                .b-table__th %
                                                .b-table__th О
                                            table.js-table-sort
                                                thead
                                                    tr
                                                        th #
                                                        th Клуб
                                                        th
                                                            span И
                                                        th
                                                            span В
                                                        th
                                                            span Н
                                                        th
                                                            span П
                                                        th
                                                            span Ш
                                                        th
                                                            span %
                                                        th
                                                            span O
                                                tbody
                                                    tr
                                                        td 1
                                                        td
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Астребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 25
                                                        td 67
                                                        td 87
                                                        td 13
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 1
                                                        td
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Встребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Оегион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Дегион (Барнаул)
                                                        td 25
                                                        td 67
                                                        td 87
                                                        td 13
                                                        td 70-42
                                                        td 8
                                                        td 30

                                            a(href='').b-table__item
                                                div №1
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34
                                            a(href='').b-table__item
                                                div №2
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34
                                        .b-table.b-table--card
                                            .b-table__title-time Подгруппа M
                                            .b-table__thead
                                                .b-table__th И
                                                .b-table__th В
                                                .b-table__th Н
                                                .b-table__th П
                                                .b-table__th Ш
                                                .b-table__th %
                                                .b-table__th О
                                            table.js-table-sort
                                                thead
                                                    tr
                                                        th #
                                                        th Клуб
                                                        th
                                                            span И
                                                        th
                                                            span В
                                                        th
                                                            span Н
                                                        th
                                                            span П
                                                        th
                                                            span Ш
                                                        th
                                                            span %
                                                        th
                                                            span O
                                                tbody
                                                    tr
                                                        td 1
                                                        td
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Ястребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 25
                                                        td 67
                                                        td 87
                                                        td 13
                                                        td 70-42
                                                        td 8
                                                        td 30

                                            a(href='').b-table__item
                                                div №1
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_1-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34
                                            a(href='').b-table__item
                                                div №2
                                                div
                                                    p
                                                        span
                                                            img(src='./images/teams/team_2-lg.png' alt='')
                                                        | Балтика
                                                div 19
                                                div 15
                                                div 2
                                                div 2
                                                div 75-57
                                                div 43
                                                div 34
                                    .b-main-box__list
                                        .b-table
                                            .b-table__title-time Подгруппа А
                                            table.js-table-sort
                                                thead
                                                    tr
                                                        th #
                                                        th Клуб
                                                        th
                                                            span И
                                                        th
                                                            span В
                                                        th
                                                            span Н
                                                        th
                                                            span П
                                                        th
                                                            span Ш
                                                        th
                                                            span %
                                                        th
                                                            span O
                                                tbody
                                                    tr
                                                        td 1
                                                        td
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Астребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30


                                                    tr
                                                        td 1
                                                        td
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Встребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Оегион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30


                                        .b-table
                                            .b-table__title-time Подгруппа M
                                            table.js-table-sort
                                                thead
                                                    tr
                                                        th #
                                                        th Клуб
                                                        th
                                                            span И
                                                        th
                                                            span В
                                                        th
                                                            span Н
                                                        th
                                                            span П
                                                        th
                                                            span Ш
                                                        th
                                                            span %
                                                        th
                                                            span O
                                                tbody
                                                    tr
                                                        td 1
                                                        td
                                                            p
                                                                img(src='./images/teams/team_1-lg.png' alt='')
                                                            | Ястребы (Барнаул)
                                                        td 19
                                                        td 15
                                                        td 2
                                                        td 2
                                                        td 73-42
                                                        td 84
                                                        td 32
                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 16
                                                        td 13
                                                        td 23
                                                        td 1
                                                        td 70-42
                                                        td 8
                                                        td 30

                                                    tr
                                                        td 2
                                                        td
                                                            p
                                                                img(src='./images/teams/team_2-lg.png' alt='')
                                                            | Легион (Барнаул)
                                                        td 25
                                                        td 67
                                                        td 87
                                                        td 13
                                                        td 70-42
                                                        td 8
                                                        td 30

                        .b-main-box
                            .b-main-box__wrapper
                                h2 Новости
                                .b-main-box__list
                                    .news-item
                                        .news-item__img
                                            img(src='./images/news_1@2x.jpg' alt='')
                                        .news-item__text
                                            h3 Состоялась первая тренировка ХК «СкиФ»
                                            p Тренировка прошла довольно таки бодро, как будто и не было лета, а его, кстати, по факту-то и небыло на Алтае в этом году. Зимы пока тоже нету, но это не мешает Леониду Леонидовичу и команде первыми готовить лед.
                                            .news-item__control
                                                span 24 ноября 2019
                                                span Просмотров: 287
                                                button Читать подробнее
                                    .news-item
                                        .news-item__img
                                            img(src='./images/news_1@2x.jpg' alt='')
                                        .news-item__text
                                            h3 Первый матч в чемпионате по второй группе СкиФ завершил уверенной победой
                                            p Тренировка прошла довольно таки бодро, как будто и не было лета, а его, кстати, по факту-то и небыло на Алтае в этом году. Зимы пока тоже нету, но это не мешает Леониду Леонидовичу и команде первыми готовить лед.
                                            .news-item__control
                                                span 24 ноября 2019
                                                span Просмотров: 287
                                                button Читать подробнее

                                    .news-item
                                        .news-item__img
                                            img(src='./images/news_1@2x.jpg' alt='')
                                        .news-item__text
                                            h3 Состоялась первая тренировка ХК «СкиФ»
                                            p Тренировка прошла довольно таки бодро, как будто и не было лета, а его, кстати, по факту-то и небыло на Алтае в этом году. Зимы пока тоже нету, но это не мешает Леониду Леонидовичу и команде первыми готовить лед.
                                            .news-item__control
                                                span 24 ноября 2019
                                                span Просмотров: 287
                                                button Читать подробнее

                                .b-main-box__btn
                                    a(href='').btn.btn--yellow Все новости




                    aside.col-lg-4.col-md-4.col-sm-12.col-xs-12
                        .b-main-box.col-lg-12.col-sm-6.col-xs-12
                            .b-main-box__wrapper
                                h2 Лучшие снайперы
                                .b-list-player.js-tabs-container
                                    .b-list-player__control
                                        select.selectbox.js-choice
                                            option 2018 - 2019
                                            option 2017 - 2019
                                            option 2018 - 2019

                                        .tab
                                            .tab__wrap.js-tabs-items
                                                .tab__item.is-active A
                                                .tab__item B
                                                .tab__item C
                                                .tab__item D
                                    .b-list-player__wrap.js-tabs-contents
                                        .b-list-player__list.is-active
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман1
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                        .b-list-player__list
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман2
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                        .b-list-player__list
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман3
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                        .b-list-player__list
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман4
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                .b-main-box__btn
                                    a(href='').btn.btn--yellow Вся статистика

                        .b-main-box.col-lg-12.col-sm-6.col-xs-12
                            .b-main-box__wrapper
                                h2 Лучшие бомбардиры
                                .b-list-player.js-tabs-container
                                    .b-list-player__control
                                        select.selectbox.js-choice
                                            option 2018 - 2019
                                            option 2017 - 2019
                                            option 2018 - 2019
                                        .tab
                                            .tab__wrap.js-tabs-items
                                                .tab__item.is-active A
                                                .tab__item B
                                                .tab__item C
                                                .tab__item D
                                    .b-list-player__wrap.js-tabs-contents
                                        .b-list-player__list.is-active
                                            a(href='').player
                                                .player__avatar
                                                    img(src='./images/icon-player-default.png' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                        .b-list-player__list
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман2
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                        .b-list-player__list
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман3
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                        .b-list-player__list
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман4
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                            a(href='').player
                                                .player__avatar
                                                    img(src='http://www.kuban.nhliga.org/data/images/players/small/40549_Pogrebnyak_20181026104538.jpg' alt='')
                                                .player__name
                                                    p Канайкин Роман
                                                    span Скиф
                                                .player__count 24 гола
                                .b-main-box__btn
                                    a(href='').btn.btn--yellow Вся статистика

                        .b-main-box.col-lg-12.col-sm-12.col-xs-12
                            .b-main-box__wrapper
                                h2 Фотоотчеты
                                .b-gallery-aside
                                    .b-gallery-aside__scroll
                                        a(href='').b-gallery-aside__item
                                            img(src='./images/news_1@2x.jpg' alt='')
                                            .b-gallery-aside__text
                                                .b-gallery-aside__year с.  2014 - 2015
                                                .b-gallery-aside__title
                                                    p Красные крылья - Полимер
                                                    span (Группа В)
                                        a(href='').b-gallery-aside__item
                                            img(src='./images/news_1@2x.jpg' alt='')
                                            .b-gallery-aside__text
                                                .b-gallery-aside__year с.  2014 - 2015
                                                .b-gallery-aside__title
                                                    p Красные крылья - Полимер
                                                    span (Группа В)
                                        a(href='').b-gallery-aside__item
                                            img(src='./images/news_1@2x.jpg' alt='')
                                            .b-gallery-aside__text
                                                .b-gallery-aside__year с.  2014 - 2015
                                                .b-gallery-aside__title
                                                    p Красные крылья - Полимер
                                                    span (Группа В)
                                        a(href='').b-gallery-aside__item
                                            img(src='./images/news_1@2x.jpg' alt='')
                                            .b-gallery-aside__text
                                                .b-gallery-aside__year с.  2014 - 2015
                                                .b-gallery-aside__title
                                                    p Красные крылья - Полимер
                                                    span (Группа В)
                                .b-main-box__btn
                                    a(href='').btn.btn--yellow Все альбомы

                        .b-main-box.col-lg-12.col-sm-12.col-xs-12
                            .b-main-box__wrapper
                                h2 Объявления
                                .b-main-box__desc 86 объявлений
                                .b-ads.custom-scrollbar.js-scrollbar
                                    .b-ads__item.b-ads__item--mark
                                        time 24 ноября 2019
                                        p Поиск игроков
                                        a(href='') Подробнее
                                    .b-ads__item
                                        time 24 ноября 2019
                                        p Поиск игроков
                                        a(href='') Подробнее
                                    .b-ads__item
                                        time 24 ноября 2019
                                        p Поиск игроков
                                        a(href='') Подробнее
                                    .b-ads__item.b-ads__item--mark
                                        time 24 ноября 2019
                                        p Поиск игроков
                                        a(href='') Подробнее
                                    .b-ads__item
                                        time 24 ноября 2019
                                        p Поиск игроков
                                        a(href='') Подробнее
                                    .b-ads__item
                                        time 24 ноября 2019
                                        p Поиск игроков
                                        a(href='') Подробнее




