doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -var links = []

        //-links.push({'url': 'home', 'name': 'Главная'});
        -links.push({'url': 'admin--sign-in', 'name': 'Админка вход'});
        -links.push({'url': 'admin--main', 'name': 'Админка Список'});
        -links.push({'url': 'admin--game', 'name': 'Админка Матч'});
        -links.push({'url': 'admin--add-goal', 'name': 'Админка Гол'});

        h2 Список свёрстанных страниц
        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
