doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="/styles/guideline.css")
        title Гайдлайн проекта
    body
        // Сверстанные страницы
        -let links = []
            
        -links.push({'url': 'home', 'name': 'Главная'});
        -links.push({'url': 'news', 'name': 'Новости'});
        -links.push({'url': 'season', 'name': 'Сезон'});
        -links.push({'url': 'text', 'name': 'Текстовая страница'});
        -links.push({'url': 'arenas', 'name': 'Арены'});
        -links.push({'url': 'contacts', 'name': 'Контакты'});
        -links.push({'url': '404', 'name': '404'});

        h2 Список свёрстанных страниц
        ol
            each link in links
                li
                    a(href!=link.url+'.html')=link.name
