extends _layout-black-header

block title
    title Новости
block content
    .news-page
        .container
            .b-breadcrumbs
                .b-breadcrumbs__item
                    a(href='') Главная
                .b-breadcrumbs__item
                    span Новости
            h1 Новости
            .row
                main.col-lg-8
                    .b-main-box
                        .b-main-box__list
                            .news-item
                                .news-item__img
                                    img(src='./images/news_1@2x.jpg' alt='')
                                .news-item__text
                                    h3 Состоялась первая тренировка ХК «СкиФ»
                                    p Тренировка прошла довольно таки бодро, как будто и не было лета, а его, кстати, по факту-то и небыло на Алтае в этом году. Зимы пока тоже нету, но это не мешает Леониду Леонидовичу и команде первыми готовить лед.
                                    .news-item__control
                                        span 24 ноября 2019
                                        span Просмотров: 287
                                        a(href='') Читать подробнее

                            .news-item
                                .news-item__img
                                    img(src='./images/news_1@2x.jpg' alt='')
                                .news-item__text
                                    h3 Состоялась первая тренировка ХК «СкиФ»
                                    p Тренировка прошла довольно таки бодро, как будто и не было лета, а его, кстати, по факту-то и небыло на Алтае в этом году. Зимы пока тоже нету, но это не мешает Леониду Леонидовичу и команде первыми готовить лед.
                                    .news-item__control
                                        span 24 ноября 2019
                                        span Просмотров: 287
                                        a(href='') Читать подробнее

                        .b-main-box__btn
                            a(href='').btn.btn--yellow Все новости
                aside.col-lg-4
                    .b-main-box
                        h2 Объявления
                        .b-main-box__desc 86 объявлений
                        .b-ads.js-scrollbar
                            .b-ads__item.b-ads__item--mark
                                time 24 ноября 2019
                                p Поиск игроков
                                a(href='') Подробнее
                            .b-ads__item
                                time 24 ноября 2019
                                p Поиск игроков
                                a(href='') Подробнее
                            .b-ads__item
                                time 24 ноября 2019
                                p Поиск игроков
                                a(href='') Подробнее
                            .b-ads__item.b-ads__item--mark
                                time 24 ноября 2019
                                p Поиск игроков
                                a(href='') Подробнее
                            .b-ads__item
                                time 24 ноября 2019
                                p Поиск игроков
                                a(href='') Подробнее
                            .b-ads__item
                                time 24 ноября 2019
                                p Поиск игроков
                                a(href='') Подробнее
