extends _layout-black-header

block title
    title Название текстовое страницы
block content
    .news-page
        .container
            .b-breadcrumbs
                .b-breadcrumbs__item
                    a(href='') Главная
                .b-breadcrumbs__item
                    span Название текстовое страницы
            h1 Название текстовое страницы
            .row
                main.col-lg-12
                    .b-main-box
                        .b-typography
                            time 28 сентября 2019
                            p В Северной Америке полным ходом идет подготовка к новому сезону. Новички НХЛ выступают на товарищеских турнирах, а опытные игроки тренируются в своих командах. Александр Овечкин прилетел в Вашингтон еще в конце августа и вовсю сейчас занимается на льду и на земле. В понедельник утром Ови участвовал в двусторонке на тренировочной арене «Кэпиталз». Журналист Том Гулитти сообщил, что походу тренировочного занятия капитан «столичных» получил повреждение и закричал от боли. Игрок покинул лед и отправился в раздевалку только в сопровождении партнеров по команде.
                            .b-typography__image
                                img(src='./images/text_1@2x.jpg' alt='')
                            h2 Что случилось? - h2
                            p Северную Америку мигом охватили тревожные твитты. Что случилось? Насколько серьезна травма Овечкина? Восстановится ли он к началу сезона? При этом не было ни видео эпизода, в котором Александр травмировался, ни информации, каково состояние хоккеиста.
                            p Довольно быстро пресс-служба «Вашингтона» отреагировала на событие: представитель команды сообщил, что травма Ови не очень серьезная, а в данный момент игрок проходит медобследование. Не прошло и получаса, как пришла радостная новость — Овечкин вернулся на лед и продолжил тренировку. Александр катался на льду как ни в чем не бывало и даже отдал голевой пас.
                            blockquote
                                img(src='./images/text_icon_1@2x.jpg' alt='')
                                p — Он действительно невероятный парень! Через несколько минут после того, как покинул лед при помощи партнеров, возвращается в качестве плеймейкера. Он не человек! , — восторгаются в твиттере русской звездой.

                                span Александр Овечкин

                            p По окончании тренировки журналисты остановили Ови и поинтересовались, в каком он состоянии и спросили, что у него за ссадина на носу.

                            blockquote.icon
                                p — Это я упал с велосипеда. Всякое дерьмо случается, — объяснил хоккеист появления раны и свое повреждение на льду.

                                span Александр Овечкин
                            h3 Нервные клетки миллионов фанатов «Вашингтона»  - h3
                            p Нервные клетки миллионов фанатов «Вашингтона» были оперативно спасены. Овечкин на протяжении всей своей карьеры демонстрировал стойкий дух и много раз играл через боль. Два года назад жена Александра Анастасия Шубская разместила в своем «инстаграме» фотографию травмированной ноги мужа после поражения «Кэпиталз» в плей-офф «Питтсбургу». Тогда даже критики Ови выразили игроку респект.
                            .b-typography__video
                                img(src='' alt='')
                                p Видео: Драка Александра Овечкина с судьей
                            p Нервные клетки миллионов фанатов «Вашингтона» были оперативно спасены. Овечкин на протяжении всей своей карьеры демонстрировал стойкий дух и много раз играл через боль. Два года назад жена Александра Анастасия Шубская разместила в своем «инстаграме» фотографию травмированной ноги мужа после поражения «Кэпиталз» в плей-офф «Питтсбургу». Тогда даже критики Ови выразили игроку респект.
                            hr
                            .b-typography__footer
                                p Нервные клетки миллионов фанатов «Вашингтона» были оперативно спасены. Овечкин на протяжении всей своей карьеры демонстрировал стойкий дух и много раз играл через боль. Два года назад жена Александра Анастасия Шубская разместила в своем «инстаграме» фотографию травмированной ноги мужа после поражения «Кэпиталз» в плей-офф «Питтсбургу». Тогда даже критики Ови выразили игроку респект.





