body {
  font-family: $Ubuntu;
  background-color: $very-light-blue;
  color: $black;

  &.error-not-found {
    background-color: $cornflower-blue;

    .b-footer {
      position: absolute;
      bottom: 0;
    }

    .b-footer__copy {
      color: $white;
      opacity: 0.4;
      font-size: 12px;
    }

    .b-footer__wrap {
      border-top: none;
      padding-top: 0;
    }
  }
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.news-page {
  padding-top: 120px;
}

.news-page__content {
  display: flex;
  align-items: flex-start;
}

.map-icon {
  @include svg-map-marker;
}

.custom-popup {
  .tingle-modal-box__content {
    padding: 0;
  }
}

.custom-popup--sm {
  .tingle-modal-box {
    max-width: 680px;
  }
}
