body {
  font-family: $Ubuntu;
  background-color: $very-light-blue;
  color: $black;
  min-width: 320px;

  &.error-not-found {
    background-color: $cornflower-blue;

    .b-footer {
      position: absolute;
      bottom: 0;
    }

    .b-footer__copy {
      color: $white;
      opacity: 0.4;
      font-size: 12px;
    }

    .b-footer__wrap {
      border-top: none;
      padding-top: 0;
    }
  }
}

aside {
  padding: 0;
  @include bp($bp-ipad-1024) {
    margin-top: 20px;
  }

  .b-main-box {
    @include bp($bp-640) {
      border-radius: 0;
      .b-main-box__wrapper {
        border-radius: 0;
      }
    }
  }
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;

  @include bp($bp-ipad-1024) {
    padding: 0 34px;
  }

  @include bp($bp-640) {
    padding: 0;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.common-page {
  padding-top: 120px;

  @include bp($bp-640) {
    padding-top: 100px;
  }

  h1 {
    @include bp($bp-640) {
      line-height: 23px;
      padding: 0 20px;
    }
  }
}

.news-page__content {
  display: flex;
  align-items: flex-start;
}

.map-icon {
  @include svg-map-marker;
}
