$Ubuntu: 'Ubuntu', sans-serif;

//color
$white: #fff;
$white-two: #efefef;
$black: #000;
$cornflower-blue: #4069cf;
$butterscotch: #eabe4e;
$brown-grey: #ababab;
$pale-grey: #edf2fb;
$very-light-blue: #e2e9f7;

